{% extends 'base.html' %}
{% block content %}
{% load static %}
<!--  Страница с заказом -->
<div class="container">
    <div class="container_flex">
        <div class="ord_after_up">
            <div class="orf_tit">
                {{ post.order_main_title }}
            </div>
        </div>
        <div class="container_flex_1">
            <div class="cont_slid">
                <div class="container4">

                    <!-- Слайдер заказов -->
                    <div class="mySlides">
                        <div class="numbertext"></div>
                        <a data-fancybox="gallery" href="{{post.order_main_img.url}}">
                            <img src="{{post.order_main_img.url}}" style="width:100%">
                        </a>
                    </div>
                    {% if post.order_img_2 %}
                    <div class="mySlides">
                        <a data-fancybox="gallery" href="{{post.order_img_2.url}}">
                            <div class="numbertext"></div>
                            <img src="{{post.order_img_2.url}}" style="width:100%">
                        </a>
                    </div>
                    {% endif %}
                    {% if post.order_img_3 %}
                    <div class="mySlides">
                        <div class="numbertext"></div>
                        <a data-fancybox="gallery" href="{{post.order_img_3.url}}">
                            <img src="{{post.order_img_3.url}}" style="width:100%">
                        </a>
                    </div>
                    {% endif %}
                    {% if post.order_img_4 %}
                    <div class="mySlides">
                        <div class="numbertext"></div>
                        <a data-fancybox="gallery" href="{{post.order_img_4.url}}">
                            <img src="{{post.order_img_4.url}}" style="width:100%">
                        </a>
                    </div>
                    {% endif %}
                    {% if post.order_img_5 %}
                    <div class="mySlides">
                        <div class="numbertext"></div>
                        <a data-fancybox="gallery" href="{{post.order_img_5.url}}">
                            <img src="{{post.order_img_5.url}}" style="width:100%">
                        </a>
                    </div>
                    {% endif %}
                    {% if post.order_img_6 %}
                    <div class="mySlides">
                        <div class="numbertext"></div>
                        <a data-fancybox="gallery" href="{{post.order_img_6.url}}">
                            <img src="{{post.order_img_6.url}}" style="width:100%">
                        </a>
                    </div>
                    {% endif %}
                    <!-- Кнопки след/пред -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    <!-- Нижние картинки -->
                    <div class="row">
                        <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">
                            <div class="column1">

                                <img class="demo cursor" src="{{post.order_main_img.url}}"
                                     style="width:100%" onclick="currentSlide(1)" alt="The Woods">

                            </div>
                            {% if post.order_img_2 %}
                            <div class="column">

                                <img class="demo cursor" src="{{post.order_img_2.url}}"
                                     style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">

                            </div>
                            {% endif %}
                            {% if post.order_img_3 %}
                            <div class="column">

                                <img class="demo cursor" src="{{post.order_img_3.url}}"
                                     style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">

                            </div>
                            {% endif %}
                            {% if post.order_img_4%}
                            <div class="column">

                                <img class="demo cursor" src="{{post.order_img_4.url}}"
                                     style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">

                            </div>
                            {% else %}
                            {% endif %}
                            {% if post.order_img_5%}
                            <div class="column">

                                <img class="demo cursor" src="{{post.order_img_5.url}}"
                                     style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">

                            </div>
                            {% endif %}
                            {% if post.order_img_6%}
                            <div class="column">
                                <img src="{{post.order_img_6.url}}"
                                     class="demo cursor"
                                     style="width:100%;" onclick="currentSlide(6)"
                                     alt="">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
            <div class="order_right">
                <div class="ord_after">
                    <div class="orf_tit">
                        {{ post.order_main_title }}
                    </div>
                </div>
                <div class="ord_after1">
                    <div class="har_title">
                        {% if post.order_main_img_mini %}
                        <div class="har_img">
                            <img src="{{ post.order_main_img_mini.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="har_img_null">
                        </div>
                        {% endif %}
                        {% if post.order_dop_title1 and post.order_dop_title2 %}
                        <div class="har">
                            <div class="har_flex">{{post.order_dop_title1}}</div>
                            <div class="har_flex">{{post.order_dop_title2}}</div>
                        </div>
                        {% else %}
                        <div class="har_null"></div>
                        {% endif %}
                        {% if post.order_dop_title3 and post.order_dop_title4%}
                        <div class="hr_ord"></div>
                        {% else %}
                        <div class="hr_ord_null"></div>
                        {% endif %}
                        {% if post.order_dop_title3 and post.order_dop_title4 %}
                        <div class="har2">
                            <div class="har_flex">{{post.order_dop_title3}}</div>
                            <div class="har_flex">{{post.order_dop_title4}}</div>
                        </div>
                        {% else %}
                        <div class="har2_null"></div>
                        {% endif %}
                        {% if post.order_dop_title5 and post.order_dop_title6%}
                        <div class="hr_ord"></div>
                        {% else %}
                        <div class="hr_ord_null"></div>
                        {% endif %}
                        {% if post.order_dop_title5 and post.order_dop_title6 %}
                        <div class="har3">
                            <div class="har_flex">{{post.order_dop_title5}}</div>
                            <div class="har_flex">{{post.order_dop_title6}}</div>
                        </div>
                        {% else %}
                        <div class="har3_null"></div>
                        {% endif %}
                        <div class="har_price">От {{post.order_price}} тг</div>
                        <div class="har_but">{% include 'WWT/form2.html' %}</div>
                    </div>
                </div>
                <div class="ord_text_flex">
                    <p id="t-ord2">Описание</p>
                    <p>{{ post.order_text }}</p>
                </div>
            </div>
        </div>

        <div class="ord_text">
            <p id="t-ord">Описание</p>
            <p>{{ post.order_text }}</p>
        </div>
    </div>
</div>


{% endblock %}





