<!--  Контент "Блоки категорий" -->
<div class="container">
    <div class="content_my_product">
        <div class="my_product_title">
            <h1 class="product_text_title">НАШИ ТОВАРЫ</h1>
            <div class="hr"></div>
            <div class="my_product_flex">

                <div class="my_product_flex_blocks">

                    <a href="/category/mebel-dlya-kuhni/" class="img_product_a">
                        <img
                                class="img_product"
                                src="{{ car_list.content_list.content_img1 }}"
                                alt="">

                        <div id="wrap_product7">
                        </div>
                        <img class="mini_img" SRC="{{car_list.content_list.content_img_mini1}}" alt="">
                        <p class="mini_img_title">{{ car_list.content_list.content_title1}}</p>

                        <div id="wrap_product_inside7" onmouseover="changeItem7()" onmouseout="rechangeItem7()">
                        </div>
                    </a>

                </div>
                <div class="my_product_flex_blocks">

                    <a href="/category/spalni/" class="img_product_a">

                        <img
                                class="img_product"
                                src="{{ car_list.content_list.content_img2 }}"
                                alt="">
                        <div id="wrap_product8">
                        </div>
                        <img class="mini_img" SRC="{{car_list.content_list.content_img_mini2}}" alt="">
                        <p class="mini_img_title">{{ car_list.content_list.content_title2}}</p>
                        <div id="wrap_product_inside8" onmouseover="changeItem8()" onmouseout="rechangeItem8()">
                        </div>
                    </a></div>
                <div class="my_product_flex_blocks_mini">

                    <a href="/category/shkafy-kupe/" class="img_product_a">

                        <img
                                class="img_product_mini"
                                src="{{ car_list.content_list.content_img3 }}"
                                alt="">
                        <div id="wrap_product">
                        </div>
                        <img class="mini_img" SRC="{{car_list.content_list.content_img_mini3}}" alt="">


                        <p class="mini_img_title">{{ car_list.content_list.content_title3}}</p>

                        <div id="wrap_product_inside" onmouseover="changeItem()" onmouseout="rechangeItem()">
                        </div>

                    </a>

                </div>
                <div class="my_product_flex_blocks_mini">

                    <a href="/category/prihozhie/" class="img_product_a">

                        <img
                                class="img_product_mini"
                                src="{{ car_list.content_list.content_img4 }}"
                                alt="">
                        <div id="wrap_product2">
                        </div>
                        <img class="mini_img" SRC="{{car_list.content_list.content_img_mini4}}" alt="">
                        <p class="mini_img_title">{{ car_list.content_list.content_title4}}</p>
                        <div id="wrap_product_inside2" onmouseover="changeItem2()" onmouseout="rechangeItem2()">
                        </div>
                    </a>
                </div>
                <div class="my_product_flex_blocks_aftermini">

                    <a href="/category/bary/" class="img_product_a_after">
                        <img
                                class="img_product_aftermini"
                                src="{{ car_list.content_list.content_img5 }}"
                                alt="">
                        <div id="wrap_product3">
                        </div>
                        <img class="mini_img" SRC="{{car_list.content_list.content_img_mini5}}" alt="">
                        <p class="mini_img_title">{{ car_list.content_list.content_title5}}</p>
                        <div id="wrap_product_inside3" onmouseover="changeItem3()" onmouseout="rechangeItem3()">
                        </div>
                    </a>
                </div>
                <div class="my_product_flex_blocks_aftermini">

                    <a href="/category/detskaya-mebel/" class="img_product_a">

                        <img
                                class="img_product_aftermini"
                                src="{{ car_list.content_list.content_img6 }}"
                                alt="">
                        <div id="wrap_product4">
                        </div>
                        <img class="mini_img" SRC="{{car_list.content_list.content_img_mini6}}" alt="">
                        <p class="mini_img_title">{{ car_list.content_list.content_title6}}</p>
                        <div id="wrap_product_inside4" onmouseover="changeItem4()" onmouseout="rechangeItem4()">
                        </div>
                    </a></div>
                <div class="my_product_flex_blocks_mini"><a href="/category/resepshn/" class="img_product_a_mini">

                    <img
                            class="img_product_mini"
                            src="{{ car_list.content_list.content_img7 }}"
                            alt="">
                    <div id="wrap_product5">
                    </div>
                    <img class="mini_img" SRC="{{car_list.content_list.content_img_mini7}}" alt="">
                    <p class="mini_img_title">{{ car_list.content_list.content_title7}}</p>
                    <div id="wrap_product_inside5" onmouseover="changeItem5()" onmouseout="rechangeItem5()">
                    </div>
                </a></div>
                <div class="my_product_flex_blocks_mini"><a href="/category/ofisnaya-mebel/" class="img_product_a_mini">

                    <img
                            class="img_product_mini"
                            src="{{ car_list.content_list.content_img8 }}"
                            alt="">
                    <div id="wrap_product6">
                    </div>
                    <img class="mini_img" SRC="{{car_list.content_list.content_img_mini8}}" alt="">
                    <p class="mini_img_title">{{ car_list.content_list.content_title8}}</p>
                    <div id="wrap_product_inside6" onmouseover="changeItem6()" onmouseout="rechangeItem6()">
                    </div>
                </a></div>
            </div>
        </div>
    </div>
</div>
</div>